@charset "utf-8";
/******************************
* Name:cjol-resume.css
* The Author:andy                                    
* Update Time:2013-11-26 13:43                               
******************************/
@media screen{
 .resume_div_wrap{width:968px;}
}
@media print{
 .resume_div_wrap{width:100%;}
}
html,body,div,strong,pre,table,tr,td{margin:0; padding:0;}
body{background:#fff;}
img{border:0 none; vertical-align:top;}
a{outline:none; star:expression(this.onFocus=this.blur());}
.new_btn_login{border-radius:4px 4px 4px 4px; font-size:14px; font-weight:bold; line-height:36px; padding:0 20px;}
.new_commonbtn,.new_commonbtn:link,new_commonbtn:visited,.new_commonbtn:active{color:#fff; display:inline-block; *display:inline; *zoom:1; box-shadow:1px 1px 2px rgba(0,0,0,0.15); 
background:#f6652e; 
background:-moz-linear-gradient(top,#f6652e 0%,#d35627 100%); 
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f6652e),color-stop(100%,#d35627)); 
background:-webkit-linear-gradient(top,#f6652e 0%,#d35627 100%); 
background:linear-gradient(to bottom,#f6652e 0%,#d35627 100%); 
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6652e', endColorstr='#d35627',GradientType=0 );
text-decoration:none; 
}
:root .new_commonbtn,:root .new_commonbtn:link,:root .new_commonbtn:visited,:root .new_commonbtn:active{filter:none;}
.new_commonbtn:hover{color:#fff; box-shadow:1px 1px 2px rgba(0,0,0,0.15); 
background:#ec461b; 
background:-moz-linear-gradient(top,#ec461b 0%,#bb3a16 100%); 
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ec461b),color-stop(100%,#bb3a16)); 
background:-webkit-linear-gradient(top,#ec461b 0%,#bb3a16 100%); 
background:-o-linear-gradient(top,#ec461b 0%,#bb3a16 100%);
background:-ms-linear-gradient(top,#ec461b 0%,#bb3a16 100%); 
background:linear-gradient(to bottom,#ec461b 0%,#bb3a16 100%); 
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec461b', endColorstr='#bb3a16',GradientType=0 );
text-decoration:none; 
}
:root .new_commonbtn:hover{filter:none;}
.new_commonbtn_02,.new_commonbtn_02:link,.new_commonbtn_02:visited,.new_commonbtn_02:active{color:#fff; display:inline-block; *display:inline; *zoom:1; box-shadow:1px 1px 2px rgba(0,0,0,0.15);
background:#6dbce3;
background:-moz-linear-gradient(top,#6dbce3 0%,#5d9ec0 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#6dbce3),color-stop(100%,#5d9ec0));
background:-webkit-linear-gradient(top,#6dbce3 0%,#5d9ec0 100%);
background:linear-gradient(to bottom,#6dbce3 0%,#5d9ec0 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#6dbce3', endColorstr='#5d9ec0',GradientType=0 );
text-decoration:none;
}
:root .new_commonbtn_02,:root .new_commonbtn_02:link,:root .new_commonbtn_02:visited,:root .new_commonbtn_02:active{filter:none;}
.new_commonbtn_02:hover{color:#fff; box-shadow:1px 1px 2px rgba(0,0,0,0.15);
background:#3fabe7;
background:-moz-linear-gradient(top,#3fabe7 0%,#3182af 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#3fabe7),color-stop(100%,#3182af));
background:-webkit-linear-gradient(top,#3fabe7 0%,#3182af 100%);
background:-o-linear-gradient(top,#3fabe7 0%,#3182af 100%);
background:-ms-linear-gradient(top,#3fabe7 0%,#3182af 100%);
background:linear-gradient(to bottom,#3fabe7 0%,#3182af 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fabe7', endColorstr='#3182af',GradientType=0 );
text-decoration:none;
}
:root .new_commonbtn_02:hover{filter:none;}
.resume_div_wrap{text-align:left; font-family:Arial,"\5b8b\4f53"; font-size:12px; line-height:22px; color:#333; margin:0 auto; overflow:hidden; word-break:normal; word-wrap:break-word;}
.resume_div_wrap table,.resume_div_wrap td{font-family:Arial,"\5b8b\4f53"; font-size:12px; line-height:22px; color:#333;}
.hyperlinks,.hyperlinks:link,.hyperlinks:visited,.hyperlinks:active{color:#333; text-decoration:none;}
.hyperlinks:hover{text-decoration:underline;}
.btn_download.btn_download:link,.btn_download:visited,.btn_download:active{text-decoration:underline;}
.top_box td{height:100px;}
.head_box{border-top:#ddd solid 1px; border-left:#ddd solid 1px; border-right:#ddd solid 1px; margin:5px 0 0;}
.jobseeker_name{padding:10px 0 10px 25px;}
.resume_info_up{text-align:right; padding:10px 25px 0 0;}
.resume_info_down{text-align:right; padding:0 25px 10px 0;}
.resume_div_wrap td.jobseeker_name{font-size:24px; width:50%;}
.field_color{color:#666;}
.applyjobs_box{margin:0 0 15px;}
.field_color02{font-weight:bold;}
.jobseekerbaseinfo_box{border-left:#ddd solid 1px; border-right:#ddd solid 1px;}
.jobseekerbaseinfo_con{width:82%; padding:0 0 0 25px;}
.jobseekerphoto_con{text-align:right; padding:0 25px 0 0;}
.resume_div_wrap td.field_fontsize{font-size:14px;}
.resume_div_wrap td.field_left{color:#666; text-align:right; width:8%; white-space:nowrap;}
.resume_div_wrap td.field_left_en{width:14%;}
.common_center_en{width:9%;}
.resume_div_wrap td.field_left_en_right{width:17%;}
.field_right{width:16%;}
.field_right_long{width:30%;}
.field_right_long_en{width:28%;}
.field_parent td{border-bottom:#ddd dotted 1px; padding:5px 0;}
.resume_div_wrap td.gap_between{line-height:10px;}
.common_box{border-left:#ddd solid 1px; border-right:#ddd solid 1px;}
.common_box_bottom{border:none;}
.common_box_bottom .gap_between_tit{border-left:#ddd solid 1px; border-right:#ddd solid 1px;}
.resume_div_wrap td.gap_between_tit{line-height:30px;}
.resume_div_wrap td.common_tit{background:#333; color:#fff; padding:0 25px; height:20px;}
.common_con{padding:15px 25px 0;}
.common_con_bottom{border-top:#ddd solid 1px; padding-bottom:15px;}
.resume_div_wrap td.common_left{width:8%; text-align:right; color:#666; white-space:nowrap;}
.resume_div_wrap td.common_left_en{width:16%;}
.common_right_l{width:37%;}
.common_right_r{width:43%;}
.resume_div_wrap td.common_right_r_en{width:34%;}
.work_experience span{padding:0 30px 0 0;}
.work_experience_describe{padding:10px 0 0;}
.li_one{width:20%; padding-right:5px;}
.li_two,.li_three{width:15%;}
.li_four{width:30%; padding-right:5px;}
.li_five{width:10%;}
.li_six{width:10%;}