@charset "utf-8";
/******************************
* Name:cjol-rms.css
* The Author:andy                                    
* Update Time:2014-04-25 14:32                               
******************************/
/* cssreset start */
html,body,div,ul,li,p,span,a,input,strong,textarea{margin:0; padding:0;}
body{font:12px/1.5 Arial,"\5b8b\4f53";}
img{border:0 none; vertical-align:middle;}
ul,li,ol{list-style-type:none;}
li{vertical-align:top;}
a{outline:none; star:expression(this.onFocus=this.blur());}
input,textarea,select{outline:none; font-family:Arial,"\5b8b\4f53";}
.f_l{float:left;}
.f_r{float:right;}
.t_l{text-align:left;}
.t_c{text-align:center;}
.t_r{text-align:right;}
.bold{font-weight:bold;}
.relative{position:relative;}
.absolute{position:absolute;}
.pointer{cursor:pointer;}
.hide{display:none;}
input::-ms-clear,input::-ms-reveal{display:none;}
.clear{clear:both; overflow:hidden; *zoom:1;}
.clearfix:before,.clearfix:after{content:""; display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
.radius_4{-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.ellipsis{overflow:hidden; white-space:nowrap; -o-text-overflow:ellipsis; text-overflow:ellipsis;}
/* cssreset end */
/* commoncss start */
.w183{width:183px;}
.w250{width:250px;}
.w264{width:264px;}
.w310{width:310px;}
.w716{width:716px;}
.w836{width:836px;}
.mt_3{margin-top:3px;}
.mt_7{margin-top:7px;}
.c_8c8c8c{color:#8c8c8c;}
.c_dcdcdc{color:#dcdcdc;}
.c_666{color:#666;}
.c_298eb9{color:#298eb9;}
.ml_15{margin-left:15px;}
.mr_30{margin-right:28px;}
.new_link,.new_link:link,.new_link:visited{color:#0c4b85;}
.new_commonbtn_02,.new_commonbtn_02:link,.new_commonbtn_02:visited,.new_commonbtn_02:active{color:#fff; display:inline-block; *display:inline; *zoom:1; box-shadow:1px 1px 2px rgba(0,0,0,0.15);
background:#6dbce3;
background:-moz-linear-gradient(top,#6dbce3 0%,#5d9ec0 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#6dbce3),color-stop(100%,#5d9ec0));
background:-webkit-linear-gradient(top,#6dbce3 0%,#5d9ec0 100%);
background:linear-gradient(to bottom,#6dbce3 0%,#5d9ec0 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#6dbce3', endColorstr='#5d9ec0',GradientType=0 );
text-decoration:none;
}
:root .new_commonbtn_02,:root .new_commonbtn_02:link,:root .new_commonbtn_02:visited,:root .new_commonbtn_02:active{filter:none;}
.new_commonbtn_02:hover{color:#fff; box-shadow:1px 1px 2px rgba(0,0,0,0.15);
background:#3fabe7;
background:-moz-linear-gradient(top,#3fabe7 0%,#3182af 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#3fabe7),color-stop(100%,#3182af));
background:-webkit-linear-gradient(top,#3fabe7 0%,#3182af 100%);
background:-o-linear-gradient(top,#3fabe7 0%,#3182af 100%);
background:-ms-linear-gradient(top,#3fabe7 0%,#3182af 100%);
background:linear-gradient(to bottom,#3fabe7 0%,#3182af 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fabe7', endColorstr='#3182af',GradientType=0 );
text-decoration:none;
}
:root .new_commonbtn_02:hover{filter:none;}

.new_commonbtn_orange,.new_commonbtn_orange:link,.new_commonbtn_orange:visited,.new_commonbtn_orange:active{color:#fff; display:inline-block; *display:inline; *zoom:1; box-shadow:1px 1px 2px rgba(0,0,0,0.15);
background:#ff9000;
background:-moz-linear-gradient(top,#ff9000 0%,#ff7100 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ff9000),color-stop(100%,#ff7100));
background:-webkit-linear-gradient(top,#ff9000 0%,#ff7100 100%);
background:linear-gradient(to bottom,#ff9000 0%,#ff7100 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9000', endColorstr='#ff7100',GradientType=0 );
text-decoration:none;
}
:root .new_commonbtn_orange,:root .new_commonbtn_orange:link,:root .new_commonbtn_orange:visited,:root .new_commonbtn_orange:active{filter:none;}
.new_commonbtn_orange:hover{color:#fff; box-shadow:1px 1px 2px rgba(0,0,0,0.15);
background:#eb8400;
background:-moz-linear-gradient(top,#eb8400 0%,#e46500 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#eb8400),color-stop(100%,#e46500));
background:-webkit-linear-gradient(top,#eb8400 0%,#e46500 100%);
background:-o-linear-gradient(top,#eb8400 0%,#e46500 100%);
background:-ms-linear-gradient(top,#eb8400 0%,#e46500 100%);
background:linear-gradient(to bottom,#eb8400 0%,#e46500 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb8400', endColorstr='#e46500',GradientType=0 );
text-decoration:none;
}
:root .new_commonbtn_orange:hover{filter:none;}

.new_commonbtn_cancel,.new_commonbtn_cancel:link,.new_commonbtn_cancel:visited,.new_commonbtn_cancel:active{color:#666; display:inline-block; *display:inline; *zoom:1; box-shadow:1px 1px 2px rgba(0,0,0,0.15);
background:#d8d8d8;
background:-moz-linear-gradient(top,#d8d8d8 0%,#b7b7b7 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#d8d8d8),color-stop(100%,#b7b7b7));
background:-webkit-linear-gradient(top,#d8d8d8 0%,#b7b7b7 100%);
background:linear-gradient(to bottom,#d8d8d8 0%,#b7b7b7 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#b7b7b7',GradientType=0 );
text-decoration:none;
}
:root .new_commonbtn_cancel,:root .new_commonbtn_cancel:link,:root .new_commonbtn_cancel:visited,:root .new_commonbtn_cancel:active{filter:none;}
.new_commonbtn_cancel:hover{color:#666; box-shadow:1px 1px 2px rgba(0,0,0,0.15);
background:#c7c7c7;
background:-moz-linear-gradient(top,#c7c7c7 0%,#9f9f9f 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#c7c7c7),color-stop(100%,#9f9f9f));
background:-webkit-linear-gradient(top,#c7c7c7 0%,#9f9f9f 100%);
background:-o-linear-gradient(top,#c7c7c7 0%,#9f9f9f 100%);
background:-ms-linear-gradient(top,#c7c7c7 0%,#9f9f9f 100%);
background:linear-gradient(to bottom,#c7c7c7 0%,#9f9f9f 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7c7c7', endColorstr='#9f9f9f',GradientType=0 );
text-decoration:none;
}
:root .new_commonbtn_cancel:hover{filter:none;}

.btn_setgray,.btn_setgray:link,.btn_setgray:visited,.btn_setgray:active{color:#aaa; display:inline-block; *display:inline; *zoom:1; box-shadow:1px 1px 2px rgba(0,0,0,0.15); cursor:default;
background:#d8d8d8;
background:-moz-linear-gradient(top,#d8d8d8 0%,#b7b7b7 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#d8d8d8),color-stop(100%,#b7b7b7));
background:-webkit-linear-gradient(top,#d8d8d8 0%,#b7b7b7 100%);
background:linear-gradient(to bottom,#d8d8d8 0%,#b7b7b7 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#b7b7b7',GradientType=0 );
}
:root .btn_setgray,:root .btn_setgray:link,:root .btn_setgray:visited,:root .btn_setgray:active{filter:none;}
.btn_setgray:hover{text-decoration:none;}

.common_choose_layer{background:#fff; position:absolute; top:48px; left:0; z-index:1; box-shadow:0 8px 8px 0px rgba(0, 0, 0, 0.3); border:#79c9ee solid 2px; border-radius:5px; color:#666;}
.common_choose_layer_arrow{position:absolute; z-index:10; left:24px; top:-11px; width:17px; height:11px; font-size:0; line-height:0; overflow:hidden; background:url(icon_common_choose_layer.gif) 0 -642px no-repeat;}
.new_btn_login{border-radius:4px; font-size:14px; line-height:36px; padding:0 15px; font-weight:bold;}

.new_link,.new_link:link,.new_link:visited{color:#0c4b85;}

* html,* html body{background-image:url(about:blank); background-attachment:fixed;}
.new_login_layer{z-index:3000; background:#fff; border-radius:3px; box-shadow:3px 3px 4px 4px rgba(0,0,0,0.3); display:none;}
.new_login_layer_ie6fixed{_margin-top:0px; _position:absolute; _top:expression(documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2);}
.ui-widget-overlay{position:absolute; top:0; left:0; width:100%; height:100%; background:#666666 url(ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat; opacity:.50; filter:Alpha(Opacity=50);}
.close_new_login_layer{height:36px;}
.btn_close_new_login_layer{width:12px; height:12px; background:url(icon_close_new_login_ayer.gif) no-repeat; margin:14px 14px 0 0; cursor:pointer;}
/* commoncss end */
/* 新旧简历切换 start*/
.dialog_btn_changer_wrap{top:0px; left:10px; z-index:100; }
.btn_changer{width:135px; height:24px; border:0; background:url(btn-changer.gif) no-repeat; margin:0; padding:0; color:#000; text-align:center; cursor:pointer; font:12px/24px Arial,"\5b8b\4f53";}
.dialog_btn_changer{width:330px; margin:1px 0 0; padding:15px 12px 10px; overflow:hidden; background:#ffff99; box-shadow:0 0 5px #ccc; border-radius:4px; border:#ccc solid 1px;}
.dialog_btn_changer p{text-indent:2em; margin:5px auto 8px; padding:0;}
.dialog_btn_changer input.bt{float:left;}
.dialog_btn_changer label{float:left; display:block; width:100px; height:16px; line-height:16px; white-space:nowrap; margin:4px 0 0 150px; display:inline; padding:0;}
.dialog_btn_changer label input{vertical-align:-3px; *vertical-align:middle; margin:0 3px 0 0; width:13px; height:13px;}
/* 新旧简历切换 end*/
/* 新版发布职位 start*/
.releaseposition_wrap{padding:20px; text-shadow:1px 1px 0 #fff;}
.h_navbox{border-bottom:#ebebeb solid 1px; height:30px; padding:0 0 0 34px; _overflow:hidden;}
.h_navbox span{background:#f0f0f0; border:#ebebeb solid 1px; color:#666; width:98px; height:28px; line-height:28px; text-align:center; font-size:14px; cursor:pointer; margin:1px 5px 0 5px; float:left;}
.h_navbox span.current{color:#333; background:#fff; border:#ebebeb solid 1px; border-bottom:#fff solid 1px; cursor:default; width:98px; height:28px; line-height:28px; text-align:center; font-size:14px; cursor:pointer; margin:1px 5px 0 5px; float:left;}
.icon-new{width:24px; height:14px; background:url(new_releaseposition.gif) 0 -118px no-repeat; position:absolute; z-index:10; right:-15px; top:-8px; overflow:hidden;}
.old_release,.new_release{padding:19px 0 0;}
.commonlistbox_headerbar{overflow:hidden; height:28px; border:#CCC solid 1px; background:url(new_releaseposition.gif) 0 -89px repeat-x;}
.commonlistbox_headerbar span{heigth:28px; line-height:28px; float:left; display:block; color:#000; font-weight:bold; padding:0 0 0 12px; text-shadow:1px 1px 0 #FFF; border-left:#fff solid 1px;}
.unfoldbar{width:34px; height:28px; background:url(new_releaseposition.gif) -10px -60px no-repeat;}
.commonlistbox_con{border:#CCC solid 1px; border-top:none; background:url(bg-commonlistbox_con.gif) left bottom repeat-x; padding:0 50px 0 50px; color:#333;}
.commonlistbox_con ul{padding:16px 0 30px;}
.commonlistbox_con li{vertical-align:top; margin:0 0 6px; overflow:hidden; width:100%;}
.left_info{width:140px; display:block; text-align:right; margin-right:8px;}
.positioninput{width:341px; height:28px; padding:0 2px; line-height:28px; color:#666; display:block; border:#c0c0c0 solid 1px; margin:0 8px 0 0;}
.right_info{color:#808080; height:30px; line-height:30px; display:block; overflow:hidden;}
.select_01{width:83px; padding:1px; border:#c0c0c0 solid 1px; margin:0 4px 0 0;}
.select_02{width:123px; padding:1px; border:#c0c0c0 solid 1px; margin:0 5px 0 0;}
.select_03{width:347px; padding:1px; border:#c0c0c0 solid 1px; margin:0 5px 0 0;}
.fileinput{width:126px; height:20px; line-height:20px; border:#c0c0c0 solid 1px; color:#888; padding:0 2px;}
.commonlistbox_con li.parting_line{height:1px; line-height:0; font-size:0; overflow:hidden; width:100%; background:#eeeeee; margin:15px 0 12px;}
.checkbox{overflow:hidden;}
.checkbox label{margin:0 15px 0 0; font-family:Tahoma; height:16px; display:inline-block;}
.checkbox input{width:13px; vertical-align:middle; margin:0 4px 0 0;}
.industry_input{width:299px; height:28px; padding:0 2px; line-height:28px; color:#666; display:block; border:#c0c0c0 solid 1px; border-top:#c0c0c0 solid 1px; border-right:0; cursor:pointer;}
.dialog_click{width:44px; height:30px; display:block; float:left; background:url(new_releaseposition.gif) 0 0 no-repeat;}
.right_info02{width:260px; height:28px; line-height:28px; background:#fdffac url(new_releaseposition.gif) -24px -118px no-repeat; padding:0 0 0 24px; border:#dfe289 solid 1px; text-shadow:none; margin:0 0 0 8px;}
.right_info03{height:22px; line-height:22px; _padding:2px 0 0;}
.to{font-style:normal; height:22px; line-height:22px; padding:0 6px 0 7px;}
.commonlistbox_shadow{height:18px; background:url(new_releaseposition.gif) 0 -191px repeat-x; margin:0 auto;}
.housing{display:block; height:22px; font-family:Tahoma; line-height:22px; margin:0 0 0 20px;}
.housing input{width:13px; vertical-align:middle; margin:0 4px 0 0;}
.above{height:22px; line-height:22px;}
.specificrequirements{width:480px; height:174px; border:#c0c0c0 solid 1px; padding:2px; line-height:20px; font-size:12px; color:#666;}
.useeditor{clear:both; margin:0 0 0 148px;}
.positioninput02{height:20px; line-height:20px;}
.bottombts{margin:20px auto; text-align:center;}
.bottombts p{display:inline-block; *display:inline; *zoom:1;}
.bottombts a{height:34px; line-height:34px; float:left; margin:0 3px; border:#e2e2e2 solid 1px; padding:0 22px; text-decoration:none; color:#666; font-size:14px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; box-shadow:0 1px 2px #eee; background:url(new_releaseposition.gif) 0 -156px repeat-x;}
.bottombts a:hover{background:#e4e4e4;}
.bottombts a.savere{background:#007bd9; border:#006ec3 solid 1px; text-shadow:1px 1px 0 #0061ae; color:#fff;}
.bottombts a.savere:hover{background:#026dc0;}
/* 新版发布职位 end*/
/* chose posttype start */
.rms_choseposttype_wrap{color:#666; width:600px; float:left; margin:0 0 5px 8px; display:inline;}
.hasselected_box{border:#79c9ee solid 2px; border-radius:5px; padding:10px 0;}
.hasselected_box .selected_group_box{border-bottom:0;}
.hasselected_box .new_okbtn_box{width:70px;}
.hasselected_box .new_okbtn_box .new_commonbtn_02{width:70px;}
.common_group{background:#fff; border-radius:5px; border:#bbb solid 2px; height:32px; position:relative;}
.common_group_focus{border:#79c9ee solid 2px; z-index:1;}
.icon_jobstype{width:18px; height:18px; display:block; background:#666; margin:7px 0 0 10px; display:inline; background:url(icon_common_choose_layer.gif) no-repeat;}
.icon_gw{background-position:0 -343px;}
.icon_gw_ac{background-position:0 -365px;}
.centercon{line-height:32px;}
.selected_con{background:#fff; display:block; padding:0 9px 0 5px; float:left; _display:inline;}
.countnumber{width:58px; padding:0 9px 0 0; display:block; color:#b2b2b2; _display:inline;}
.countnumber_hide{display:none;}
.icon_deaultarrow{width:9px; height:7px; display:block; font-size:0; line-height:0; overflow:hidden; margin:13px 9px 0 0; display:inline; background:url(icon_common_choose_layer.gif) 0 -129px no-repeat;}
.icon_deaultarrow_selected{background:url(icon_common_choose_layer.gif) 0 -165px no-repeat;}
.icon_deaultarrow_cur{background:url(icon_common_choose_layer.gif) 0 -165px no-repeat;}
.selected_group_box{border-bottom:#bce4f6 solid 1px;}
.selected_group{padding:1px 9px 7px 11px; overflow:hidden; *zoom:1;}
.alreadychose_posttype{font-weight:bold; color:#298eb9; height:22px; line-height:22px; margin:6px 6px 0 0; white-space:nowrap; float:left;}
.selected_box{padding:0 12px; margin:6px 9px 0 0; height:22px; line-height:22px; border-radius:10px; text-decoration:none; background:url(icon_common_choose_layer.gif) right -46px no-repeat #d9d9d9; white-space:nowrap;}
.selected_box_hover{text-decoration:none; background:url(icon_common_choose_layer.gif) right -64px no-repeat #d9d9d9; cursor:pointer;}
.selected_box_active{background:url(icon_common_choose_layer.gif) right -46px no-repeat #d9d9d9; cursor:pointer;}
.selected_box span{padding:0 17px 0 0; color:#298eb9; font-weight:bold;}
.max_selected{height:22px; line-height:22px; margin:6px 6px 0 0; color:#8c8c8c; white-space:nowrap;}
.new_okbtn_box{padding:6px 6px 0 0; width:60px;}
.new_okbtn_box .new_commonbtn_02{width:60px; text-align:center; height:24px; line-height:24px; border-radius:5px; font-weight:bold;}
.chose_left_box{width:250px; height:450px; overflow:hidden; float:left; margin:5px 0 0; position:relative; z-index:1;}
.chose_left_box_inner{width:250px;}
.chose_left_box_inner li{height:30px; line-height:30px; position:relative; z-index:1; cursor:pointer;}
/*.chose_left_box_inner li.hover{height:30px; line-height:30px; background:#dfebf0;}*/
.chose_left_box_inner li.selected{height:28px; line-height:28px; color:#298eb9; border-top:#bce4f6 solid 1px; border-bottom:#bce4f6 solid 1px; background:url(icon_common_choose_layer.gif) right -83px no-repeat #f7fafb;}
.common_alist{color:#666; text-decoration:none; display:block; *zoom:1; padding:0 9px 0 30px;}
.common_alist:hover{color:#666; text-decoration:none; background:#dfebf0; transition:background-color 0.3s ease-in 0s, background-color 0.3s ease-out 0s;}
.chose_left_box_inner li.selected .common_alist,.chose_left_box_inner li.selected .common_alist:hover{background:none; text-decoration:none; cursor:default; color:#298eb9;}
.selected_childhaschosen{font-weight:bold; color:#298eb9;}
.selected_childhaschosen a,.selected_childhaschosen a:hover{color:#298eb9;}
.chose_right_box{border-left:#bce4f6 solid 1px; width:586px; height:460px; float:left; overflow:auto; margin:0 0 0 -1px;}
.tips_masklayer{padding:80px 40px 0; text-align:center; color:#0d7f7f; overflow:hidden;}
.tips_masklayer .bg{height:41px; overflow:hidden; background:url(icon_big_search.gif) 0 -139px no-repeat; margin:0 0 90px;}
.tips_masklayer span{font-size:20px;}
.hide_group{height:500px; border-top-right-radius:5px; border-bottom-right-radius:5px; background:#f7fafb; display:none;}
.header_text{height:36px; line-height:36px; background:url(icon_square.gif) bottom repeat-x; padding: 0 0 0 18px; color:#8c8c8c;}
.main_text{height:28px; line-height:28px; padding:0 0 0 18px; color:#8c8c8c;}
.bottom_text{height:26px; line-height:26px; padding: 5px 0 5px 18px;}
.main_group{background:url(icon_square.gif) bottom repeat-x #f7fafb;}
.children_items{padding:15px 0;}
.children_items li{line-height:26px; overflow:hidden;}
.children_items li.hover{background:#dfebf0; transition:background-color 0.3s ease-in 0s, background-color 0.3s ease-out 0s;}
.children_list_left{width:260px; padding:0 0 0 18px;}
.children_list_right{width:250px; padding:0 18px 0 0;}
.checkbox_input{width:13px; height:13px; margin:12px 6px 0 0; _margin-top:11px; display:none;}
.checkbox_txt{line-height:26px; height:26px; padding:0 0 0 15px; float:left; cursor:pointer; display:inline-block; *display:inline; *zoom:1; background:url(icon_common_choose_layer.gif) -5px -231px no-repeat;}
.checkbox_txt_hover{background-position:-5px -677px;}
.checkbox_txt_disabled_uncheck{background-position:-5px -195px;}
.checkbox_txt_disabled_checked{background-position:-5px -783px;}
.checkbox_txt_checked{background-position:-5px -267px;}
/* tips start */
.new_okbtn_box .new_dialoglayer{position:absolute; left:558px; top:40px; z-index:21; padding:0; border-radius:2px; border:#cdc28d solid 1px; background:#fdfac5; box-shadow:2px 2px 2px rgba(0, 0, 0, 0.1);}
.new_okbtn_box .new_dialoglayer_arrow{position:absolute; top:0;}
.new_okbtn_box .new_dialoglayer_arrow{left:155px; +margin-top:-11px; margin-top:-11px\0;}
:root .new_okbtn_box .new_dialoglayer_arrow{margin-top:-10px;}
.new_okbtn_box .new_dialoglayer_arrow em,.new_okbtn_box .new_dialoglayer_arrow span{font-size:16px; font-style:normal; height:19px; line-height:21px; overflow:hidden; position:absolute; width:18px;}
.new_okbtn_box .new_dialoglayer_arrow span{color:#cdc28d;}
.new_okbtn_box .new_dialoglayer_arrow em{color:#fdfac5; left:0; top:2px; z-index:1;}
.new_okbtn_box .unfold_tips{width:170px; padding:10px; font-size:11px; line-height:14px; -webkit-text-size-adjust:none; font-family:"\5fae\8f6f\96c5\9ed1",Arial,"\5b8b\4f53";}
/* tips end */
/* jScrollPane css start */
.jspContainer{overflow:hidden; position:relative;}
.jspPane{position:absolute; z-index:1;}
.jspVerticalBar{position:absolute; top:0; right:4px; width:7px; height:100%; background:none; border-radius:5px; z-index:20;}
.chose_hytype_left_wrap .jspVerticalBar,.chose_citiestype_left_wrap .jspVerticalBar{right:4px;}
.jspHorizontalBar{position:absolute; bottom:0; left:0; width:100%; height:6px;	background:none; z-index:20;}
.jspVerticalBar *,.jspHorizontalBar *{margin:0;	padding:0;}
.jspCap{display:none;}
.jspHorizontalBar .jspCap{float:left;}
.jspTrack{background:none; position:relative;}
.jspDrag{background:#7f7f7f; border-radius:5px; position:relative; top:0; left:0; cursor:default;}
.jspHorizontalBar .jspTrack,.jspHorizontalBar .jspDrag{float:left; height:100%;}
.jspArrow{background:#50506d; text-indent:-20000px; display:block; cursor:pointer;}
.jspArrow.jspDisabled{cursor:default; background:#80808d;}
.jspVerticalBar .jspArrow{height:6px;}
.jspHorizontalBar .jspArrow{width:6px;	float:left;	height:100%;}
.jspVerticalBar .jspArrow:focus{outline:none;}
.jspCorner{background:#eeeef4; float:left; height:100%;}
/** html .jspCorner{margin:0 -3px 0 0;}*/
/* jScrollPane css end */
/* chose posttype end */
/* 404 start */
.rms_404{padding:120px 0 220px; background:url(bg_mainfoot.gif) right bottom no-repeat; margin:5px;}
.special_content{width:812px; margin:0 auto; font-family:"\5fae\8f6f\96c5\9ed1",Arial,"\5b8b\4f53"; color:#666; line-height:20px;}
.special_left{padding:60px 0; margin:0 55px 0 0; width:253px;}
.icon_pbox{width:253px; height:169px; overflow:hidden; background:url(bg_special.gif) no-repeat;}
.icon_expiredjob{background-position:0 0;}
.icon_404{background-position:-253px 0;}
.icon_systemerror{background-position:-506px 0;}
.special_right{float:left; width:504px;}
.special_right_404{padding:90px 0 0 40px;}
.special_right_tit{color:#0e7e8b; font-size:16px;}
.con_404{padding:30px 0;}
.con_404_tit{font-weight:bold; font-size:14px;}
.con_404 ul{padding:5px 0 0;}
.con_404 ul li{vertical-align:top; line-height:24px; padding:0 0 0 15px; background:url(bg_special.gif) -759px -72px no-repeat;}
.con_404 ul li a,.go_backpage a{text-decoration:underline !important;}
/* 404 end */
/* template set start */
.templateset_content{text-align:left; color:#333;}
.templateset_content img{vertical-align:top;}
.logoset_box,.defaulttemplate_box{padding:0 0 0 25px;}
.head_tit{color:#719de5; margin:0 0 15px; font-size:14px;}
.logocut_con_right,.defaulttemplate_con_right{overflow:hidden; *zoom:1;}
.logocut_con{margin:30px 0 0;}
.logocut_con_left{width:318px; margin:0 55px 0 0;}
.logo_default{width:317px; height:167px; overflow:hidden; background:#f1f1f1; margin:0 0 35px; position:relative;}
.logo_default img{border:#dfdfdf solid 1px;}
.defaulttemplate_left{width:178px; height:278px; border:#dfdfdf solid 1px; margin:0 55px 0 0;}
.defaulttemplate_left_add{margin:0 20px 0 30px;}
.defaulttemplate_con_right_tit{font-weight:bold; font-size:14px;}
.defaulttemplate_con_right_main{margin:20px 0 0;}
.describe_con li{color:#666; margin:0 0 10px; background:url(icon_square02.gif) left center no-repeat; padding:0 0 0 10px;}
.describe_con li.service_tel{margin:15px 0 0; padding:0; background:none;}
.templateset_dialog{width:400px;}
.templateset_dialog_inner{padding:0 36px 36px;}
.templateset_dialog_inner_tit,.whywritesalary_inner_tit,.dialog_prd_inner_tit,.dialog_dellogo_inner_tit{color:#012e56; font-size:14px;}
.dialog_main{margin:10px 0 15px;}
.dialog_describe_con li{background:url(icon_square03.gif) left 7px no-repeat; line-height:20px; margin:0 0 5px;}
.bottom_description{color:#666; padding:30px 0 0;}
.pic_previewbox{margin:15px 0 30px;}
.logocut_con_right p img{border:#dfdfdf solid 1px;}
.logocut_con_right p{margin:0 0 5px;}
.logocut_big,.logocut_middle,.logocut_small{overflow:hidden; margin:0 0 15px; color:#666;}
.logocut_big p{width:182px; height:82px; background:#f1f1f1; overflow:hidden;}
.logocut_middle p{width:137px; height:62px; background:#f1f1f1; overflow:hidden;}
.logocut_small p{width:92px; height:42px; background:#f1f1f1; overflow:hidden;}
.uploadlogo_tips{line-height:36px; color:#666;}
.tipspic_dialog{width:548px;}
.percentage_layer{position:absolute; width:200px; height:30px; left:50%; top:50%; margin:-15px 0 0 -100px; text-align:center; color:#b0b0b0;}
.percentage_bar_up{width:200px; height:5px; font-size:0; line-height:0; background:#fff; overflow:hidden;}
.percentage_bar_on{width:100px; height:5px; font-size:0; line-height:0; background:#b0b0b0; display:block; float:left;}
/* template set end */
/* add folders start */
.addfolders_dialog{width:540px; font-family:"\5fae\8f6f\96c5\9ed1",Arial,"\5b8b\4f53";}
.addfolders_inner{padding:0 0 36px 36px;}
.addfolders_inner_tit{color:#012e56; font-weight:bold;}
.addfolders_inner_contit{font-weight:normal; margin:20px 0 10px;}
.radio_item_box{width:500px; height:300px; overflow:hidden; margin:0 0 20px;}
.radio_item{height:30px; color:#666; overflow:hidden;}
.radio_item input{float:left; margin:8px 10px 0 0;}
.radio_item span{display:block; float:left; line-height:30px; width:450px; overflow:hidden; white-space:nowrap; -o-text-overflow:ellipsis; text-overflow:ellipsis;}
/* add folders end */
.dialog_kj{width:542px; font-family:"\5fae\8f6f\96c5\9ed1",Arial,"\5b8b\4f53";}
.dialog_kj_main{margin:20px 0 0; height:36px; position:relative;}
.click_ac{background:#fff; border-radius:5px; border:#bbb solid 2px; height:32px; width:466px;}
.click_ac_cur{border:#79c9ee solid 2px;}
.click_ac p{line-height:32px; width:426px; padding:0 0 0 10px;  overflow:hidden; white-space:nowrap; -o-text-overflow:ellipsis; text-overflow:ellipsis;}
.kj_droplayer{display:none; border-radius:0 0 5px 5px; border:#79c9ee solid 2px; border-top:#79c9ee solid 1px; width:466px; background:#fff; position:absolute; top:32px; left:0; padding:5px 0;}
.kj_droplayer_inner{max-height:66px; _height:expression(this.scrollHeight > 66 ? "66px" :"auto"); overflow:hidden; outline:none;}
.kj_droplayer .common_alist{height:22px; line-height:22px; padding:0 30px 0 10px; width:426px; overflow:hidden; white-space:nowrap; -o-text-overflow:ellipsis; text-overflow:ellipsis;}
.error_words{color:#b30f3c; margin:10px 0 0; padding:0 0 0 2px;}
.prompt_words{color:#999; margin:30px 0 0;}
.prompt_words_top{color:#999; margin:10px 0 0;}
.kj_btns{margin:35px 0 0;}
/* offer_salary */
.icons_resultspage{background:url(icon_allresultspage.gif) no-repeat; display:block; height:0; line-height:0; font-size:0; overflow:hidden;}
.items_singlegroup_rms{width:390px; margin:0 0 20px; position:relative; background:#fff; text-align:left; border:#ddd solid 1px; border-radius:5px; box-shadow:2px 2px 3px rgba(0, 0, 0, 0.1);}
.items_singlegroup_arrow{width:15px; height:30px; position:absolute; left:-15px; bottom:25px; background:url(items_singlegroup_arrow.gif) no-repeat;}
.items_singlegroup{padding:10px 15px; overflow:hidden; line-height:21px; color:#666; line-height:18px; position:relative; z-index:0;}
.checkbox_jobname{width:13px; height:13px; float:left; margin:5px 5px 0 0;}
.jobname_content,.companyname_content,.minor_con,.companyaddress_content{overflow:hidden; *zoom:1;}
.jobname_content a{color:#499ec3; font-size:14px; line-height:21px; text-decoration:none;}
.items_companyname{padding:2px 0 2px 18px; _padding:0 0 0 21px;}
.icon_companyname{width:10px; height:10px; float:left; margin:4px 5px 0 0; _margin:4px 2px 0 0; background-position:-129px -57px;}
.companyname_content a{color:#333; text-decoration:none;}
.companyname_content a:hover,.jobname_content a:hover{text-decoration:underline;}
.minor_con{padding:0 0 0 18px; _padding:0 0 0 21px;}
.minor_ad{width:90px; height:40px; margin:4px 0 0 5px; overflow:hidden;}
.items_companyaddress{padding:0 0 8px;}
.icon_companyaddress{width:9px; height:13px; float:left; margin:3px 5px 0 0; _margin:2px 2px 0 0; background-position:-78px -74px;}
.icon_commonli,.icon_time{display:inline-block; *display:inline; *zoom:1; vertical-align:middle; margin:0 5px 0 0;}
.icon_commonli{margin:0 5px 0 3px;}
.icon_commonli{width:5px; height:6px; background-position:-146px -36px;}
.icon_time{width:13px; height:13px; background-position:-78px -57px;}
.up_time{color:#999;}
.timesalary{margin:5px 0 0 18px;}
.offer_salary{color:#999;}
.dialog_whywritesalary{width:580px; font-family:"\5fae\8f6f\96c5\9ed1",Arial,"\5b8b\4f53";}
.whywritesalary_inner{padding:0 0 36px 36px;}
.con_whywritesalary{height:400px; color:#666; margin:10px 0 35px;}
.con_whywritesalary_inner{padding:0 20px 0 0; line-height:20px;}
.salary_inner_section{margin:10px 0 20px;}
.section_list{text-indent:0.5em;}
.section_list_tit{font-weight:bold; margin:4px 0 0;}
.ul_con{width:240px; float:left;}
.ul_con li{display:block; vertical-align:top;}
.table_head{line-height:22px; height:22px; background:#e1e1e1;}
.table_head span{text-align:center; display:block; float:left;}
.row_first{width:25%;}
.row_second{width:18%;}
.row_third{width:20%;}
.row_fouth{width:15%;}
.row_fifth{width:20%;}
.table_con{background:#fff;}
.table_con .row_first{text-align:left;}
/* end offer_salary */
/* prd */
.dialog_dellogo{width:360px;}
.dialog_prd{width:400px;}
.dialog_prd_inner_tit{margin:0 0 15px;}
.dialog_prd_inner{padding:0 36px 36px; font-family:"\5fae\8f6f\96c5\9ed1",Arial,"\5b8b\4f53"; color:#666;}
.prd_instruction{margin:20px 0 30px;}
.prd_instruction_title{margin:0 0 10px; font-size:14px;}
.prd_instruction_section{text-indent:1em; color:#999;}
.dialog_prd .click_ac,.dialog_prd .kj_droplayer{width:324px;}
.dialog_prd .click_ac p{width:280px;}
.dialog_prd .kj_droplayer .common_alist{width:284px;}
.warning_num{color:#b30f3c; font-style:normal;}
/* end prd */
.dialog_dellogo_con{margin:15px 0 30px;}
/* interview notification message */
.message_con input.txtFieldCadr{margin:0 5px;}
.message_con input,.message_con span{vertical-align:middle;}
.jobseeker_name{width:60px; margin:0 5px;}
.company_name{width:220px; margin:0 5px 0 0;}
.company_address{width:360px; margin:0 5px;}
.job_name{width:200px; margin:0 0 0 5px;}
.company_tel{width:170px; margin:0 0 0 5px;}
.company_hr{width:100px;}
.message_field{color:#284571;}
/* end interview notification message */