.body { font-family:Arial @宋体;}	
a.blue:link {
	color: #3a78d4;
}
a.blue:visited {
	color: #666;
}
a.blue:hover {
	color: #333; text-decoration: underline;
}
a.blue:active {
	color: #3a78d4;
}

a.wt:link {
	text-decoration: none;
	color: #FFFFFF;
}
a.wt:visited {
	text-decoration: none;
	color: #FFFFFF;
}
a.wt:hover {
	text-decoration: none;
	color: #FFFFFF;
}
a.wt:active {
	text-decoration: none;
	color: #FFFFFF;
}
.resumepr_body{ background-color:White;}
td {line-height:20px;
}
.prw_toolbar {
	BACKGROUND-COLOR: #dcf1fc; 
	BORDER-BOTTOM: #e4e2e2 3px solid;
	height:20px;
	width:100%;
	
}
.fieldName {
	BORDER-BOTTOM: #e4e2e2 1px solid; 
	PADDING-BOTTOM: 1px; 
	BACKGROUND-COLOR: #ffffff; 
	PADDING-LEFT: 3px; 
	PADDING-RIGHT: 1px; 
	COLOR: #486186; 
	FONT-WEIGHT: bolder; 
	BORDER-RIGHT: #e4e2e2 1px solid; PADDING-TOP: 1px
}

.fieldtable
{
    border-left: #e4e2e2 1px solid; border-top: #e4e2e2 1px solid; background-color:#c9ddf1;
    
    }
.fieldContent {
	BORDER-BOTTOM: #e4e2e2 1px solid; PADDING-BOTTOM: 1px; 
	BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 3px; 
	PADDING-RIGHT: 1px; 
	BORDER-RIGHT: #e4e2e2 1px solid;
	width:17%;
}

.fieldContent2 {
	BORDER-BOTTOM: #e4e2e2 1px solid; PADDING-BOTTOM: 1px; 
	BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 3px; 
	PADDING-RIGHT: 1px; 
	BORDER-RIGHT: #e4e2e2 1px solid;
	width:35%;
}


.style7
{
    BORDER-BOTTOM: #e4e2e2 1px solid;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 1px;
    COLOR: #486186;
    FONT-WEIGHT: bolder;
    BORDER-RIGHT: #e4e2e2 1px solid;
    PADDING-TOP: 1px;
    width:14%;
}
.style8
{
    BORDER-BOTTOM: #e4e2e2 1px solid;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 1px;
    BORDER-RIGHT: #e4e2e2 1px solid;
    PADDING-TOP: 1px;
}
.style9
{
    BORDER-BOTTOM: #e4e2e2 1px solid;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 1px;
    BORDER-RIGHT: #e4e2e2 1px solid;
    PADDING-TOP: 1px;
    width:156px;
}
.style10
{
    BORDER-BOTTOM: #e4e2e2 1px solid;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 1px;
    COLOR: #486186;
    FONT-WEIGHT: bolder;
    BORDER-RIGHT: #e4e2e2 1px solid;
    width:15%;}
    
.w7
{
    BORDER-BOTTOM: #e4e2e2 1px solid;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 1px;
    COLOR: #486186;
    FONT-WEIGHT: bolder;
    BORDER-RIGHT: #e4e2e2 1px solid;
    width:11%; }

.style11
{
    BORDER-BOTTOM: #e4e2e2 1px solid;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 1px;
    BORDER-RIGHT: #e4e2e2 1px solid;
    PADDING-TOP: 1px;
    width: 15%;
}
.style13
{
    BORDER-BOTTOM: #e4e2e2 1px solid;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 1px;
    BORDER-RIGHT: #e4e2e2 1px solid;
    PADDING-TOP: 1px;
    height: 37px;
}
.style14
{
    BORDER-BOTTOM: #e4e2e2 1px solid;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 1px;
    BORDER-RIGHT: #e4e2e2 1px solid;
    PADDING-TOP: 1px;
    height: 37px;
    width: 146px;
}
  .style15
{
    BORDER-BOTTOM: #e4e2e2 1px solid;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 1px;
    COLOR: #486186;
    FONT-WEIGHT: bolder;
    BORDER-RIGHT: #e4e2e2 1px solid;
    PADDING-TOP: 1px;
    width: 178px;
}
.style16
{
    BORDER-BOTTOM: #e4e2e2 1px solid;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 1px;
    COLOR: #486186;
    FONT-WEIGHT: bolder;
    BORDER-RIGHT: #e4e2e2 1px solid;
    PADDING-TOP: 1px;
    width: 162px;
}
.style17
{
    BORDER-BOTTOM: #e4e2e2 1px solid;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 1px;
    COLOR: #486186;
    FONT-WEIGHT: bolder;
    BORDER-RIGHT: #e4e2e2 1px solid;
    PADDING-TOP: 1px;
    width: 20%;
}
.style18
{
    BORDER-BOTTOM: #e4e2e2 1px solid;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 1px;
    COLOR: #486186;
    FONT-WEIGHT: bolder;
    BORDER-RIGHT: #e4e2e2 1px solid;
    PADDING-TOP: 1px;
    width: 15%;
}
.style19
{
    BORDER-BOTTOM: #e4e2e2 1px solid;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 1px;
    BORDER-RIGHT: #e4e2e2 1px solid;
    PADDING-TOP: 1px;
    width: 20%;
}
.style20
{
    BORDER-BOTTOM: #e4e2e2 1px solid;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 1px;
    COLOR: #486186;
    FONT-WEIGHT: bolder;
    BORDER-RIGHT: #e4e2e2 1px solid;
    PADDING-TOP: 1px;
    width: 20%;
}
.style21
{
    BORDER-BOTTOM: #e4e2e2 1px solid;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 1px;
    COLOR: #486186;
    FONT-WEIGHT: bolder;
    BORDER-RIGHT: #e4e2e2 1px solid;
    PADDING-TOP: 1px;
    width: 15%;
}
.style24
{
    BORDER-BOTTOM: #e4e2e2 1px solid;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 1px;
    BORDER-RIGHT: #e4e2e2 1px solid;
    PADDING-TOP: 1px;
}
.style25
{
    width: 30%;
}
     .style15
{
    width: 30%;
}
.style28
{
    BORDER-BOTTOM: #e4e2e2 1px solid;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 1px;
    COLOR: #486186;
    FONT-WEIGHT: bolder;
    BORDER-RIGHT: #e4e2e2 1px solid;
    PADDING-TOP: 1px;
    width: 20%;
}
.style30
{
    BORDER-BOTTOM: #e4e2e2 1px solid;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 1px;
    COLOR: #486186;
    FONT-WEIGHT: bolder;
    BORDER-RIGHT: #e4e2e2 1px solid;
    PADDING-TOP: 1px;
    width: 651px;
}

     .style10-en
{
    BORDER-BOTTOM: #e4e2e2 1px solid;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 1px;
    COLOR: #486186;
    FONT-WEIGHT: bolder;
    BORDER-RIGHT: #e4e2e2 1px solid;
    PADDING-TOP: 1px;
    width:18%;}
    
    
.style7-en
{
    BORDER-BOTTOM: #e4e2e2 1px solid;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 1px;
    COLOR: #486186;
    FONT-WEIGHT: bolder;
    BORDER-RIGHT: #e4e2e2 1px solid;
    PADDING-TOP: 1px;
    width:24%;
}

  .style7-en2
{
    BORDER-BOTTOM: #e4e2e2 1px solid;
    PADDING-BOTTOM: 1px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 1px;
    COLOR: #486186;
    FONT-WEIGHT: bolder;
    BORDER-RIGHT: #e4e2e2 1px solid;
    PADDING-TOP: 1px;
    width:22%;
}
.check
{
	color:Red;
	font-weight:bold;
}

.fieldContent_en {
	BORDER-BOTTOM: #e4e2e2 1px solid; PADDING-BOTTOM: 1px; 
	BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 3px; 
	PADDING-RIGHT: 1px; 
	BORDER-RIGHT: #e4e2e2 1px solid; PADDING-TOP: 1px;
	width:30%;
}
.reg1 
{
     width: 28%;padding-top:5px;}
.reg2{width: 15%;padding-top:5px;}
.reg3{width: 57%;padding-top:5px;}
.reg{padding-top:5px;}     
.red1
{
    font-size:12px; color:Red; font-family:Arial; font-weight:bold;}
.toplogo{width:960px;padding-left:10px; padding-bottom:10px;margin:0 auto; padding-top:10px;}  
.imglogo{margin:0px; padding:0px; overflow:auto; width:182px;}  
.step{width:960px; margin:0 auto;border-top: 1px solid #003366;border-left: 1px solid #003366;border-right: 1px solid #003366; height:36px; background-color:#739DBF; color:#000; font-size:12px; text-align:center; overflow:auto; vertical-align:middle;}
.stepnow{font-size:16px;color:#FFFFFF; font-weight:bold; line-height:36px;}
.txtstrong{ font-weight:bold; line-height:16px; vertical-align:middle;}
.msgcontent{ width:960px; margin:0 auto;clear:left; padding-top:30px; padding-bottom:100px; font-size:12px;border-left: 1px solid #003366;border-right: 1px solid #003366;border-bottom: 1px solid #003366;}
.bottom{ width:960px; margin:0 auto;text-align:center;padding-top:10px; color:#000; border-top:2px solid #d2d2d2; line-height:40px;}
.agreebox{padding-left:270px;float:left; margin-top:12px;}
.dot{ color:Red;}
.upload{ height:20px; margin-bottom:20px; margin-left:10px;}
.clickopen{height:40px; margin-top:22px; margin-bottom:5px; margin-left:158px;}
.tag{ width:940px; margin:0 auto;}
.graytxt{ color:#b2b2b2;}
.linkbut {border-right:#011d33 1px solid;
           border-top:0b5ea4 1px solid;font: 12px 宋体;
           border-left:0b5ea4 1px solid;cursor: hand;color:#ffffff;
           line-height:normal;border-bottom:#011d33 1px solid;
           background:#082e4e url(images/anniu_bg.gif);text-align:center;
           font-weight:normal;text-decoration:none;
           width:80px; height:25px}

/*导航*/

.Tag
{
	background-color: #ffffff;
	border-collapse: collapse;
	border-top-style: none;
	height: 25px;
	width:250px;
}
.TagEmpty 
{
	border-bottom:inset 1px #ffffff;
	width:100%;
}
.TagItem
{
	width:100px;
	height:24px; 
	color:#666;	
	background:#d4d5d5 url(images/ggtopbg.gif);
	border-left:solid 1px #c8c8c9;  
		border-right:solid 1px #e5e4e4;  
text-align: center;
	white-space: nowrap;
	width:130px;
}

.TagItem a
{
	color:#999;	
}

.TagItem TD
{
	vertical-align:middle;	
}
.TagSelected
{
	position: relative;
	height:24px;
	background:#6693bd url(images/ggtopbg_a.gif);
	vertical-align:middle;	
	font-weight:bold; 
	text-align: center;
	/*width:130px;*/
	padding:0 5px;
}
.TagSelected a{color:#fff;}
/*导航*/

/*表格*/
.tb1
{
	background:#f7f7f7;
border:solid 1px #e7e6e6; padding:10px;
}

.tb2
{background-color: #508bcc; padding:5px 2px 2px 2px; }
.tb3
{ padding:0; background: url(images/ggtopbg.gif) repeat-x; line-height:18px; margin:0 auto; width:97%; 
                                
       
       }

.tb4
{
border-bottom:solid 1px #dadbdd;border-top:solid 1px #fff; padding:3px 5px;}

.dbg{ background:#d8d6d6}
 
/*表格*/

/*分页*/
.ListTableFoot
{ width:100%;margin-top:10px;}

.ListTableFoot span{ }

.ListTableFoot a{ }

#ListTableFoot{ margin-top:10px;}
/*分页*/

/*表体*/
.ListTableBody
{
	table-layout: fixed;
	font-size: 12px;
	height: 20px;
	border-collapse: collapse;
	padding: 0px;
}

.ListTableBody TD
{
	border-right: #a8cbfe 1px inset;
	border-left: #a8cbfe 1px outset;
	border-bottom: #a8cbfe 1px inset;
	border-top-style: none;
	border-collapse: collapse;
	padding-left:3px;	
}
.UploadPhotoTable{ border-right: #a8cbfe 1px inset;
	border-left: #a8cbfe 1px outset;
	border-bottom: #a8cbfe 1px inset;
	border-top: #a8cbfe 1px outset;
	width:120px; height:150px
	}
.closecss{ border-right:#011d33 1px solid;
           border-top:#0b5ea4 1px solid;font: 12px 宋体;
           border-left:#0b5ea4 1px solid;cursor: hand;color:#ffffff;
           line-height:normal;border-bottom:#011d33 1px solid;
           background:#082e4e url(images/anniu_bg.gif);text-align:center;
           font-weight:normal;text-decoration:none;
           width:70px; height:25px}
 .sendinput{ border-right:#011d33 1px solid;
           border-top:0b5ea4 1px solid;font: 12px 宋体;
           border-left:0b5ea4 1px solid;cursor: hand;color:#ffffff;
           line-height:normal;border-bottom:#011d33 1px solid;
           background:#082e4e url(images/anniu_bg.gif);text-align:center;
           font-weight:normal;text-decoration:none;
           width:80px; height:25px}
           
           
           .lbbt{ height:30px; line-height:30px; font-size:14px; font-weight:bold;  padding-left:2%; margin-top:20px; color:#999;font-style: italic;}